<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Evaluate</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
  <div class="display">
    <div>
      {{ user_name}} さん
      私のおすすめのレストランです。
    </div>
    <p>
      TODO レストラン
    </p>
    <div>
      {{ user_name }} さんのご存知なレストランの評価を教えてくれませんか？
    </div>
  </div>
</body>
</html>
